<div class="container">
  <div class="row mt-5">
    <!--ビンゴシート-->
    <!--<div class="col mt-5 bingo">-->
    <!--  <table>-->
    <!--    <thead>-->
    <!--      <tr>-->
    <!--        <th>B</th>-->
    <!--        <th>i</th>-->
    <!--        <th>n</th>-->
    <!--        <th>g</th>-->
    <!--        <th>o</th>-->
    <!--      </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--    </tbody>-->
    <!--  </table>-->
    <!--  </div> -->

    <!--ストップウォッチ-->
    <div class="col-12 col-lg-5 bg-light mx-auto">
      <div id="timer" class="text-center h2 my-3">00:00.000</div>
      <div class="d-flex justify-content-around h3 my-3">
        <div class="button col-md-3" id="start">Start</div>
        <div class="button col-md-3" id="stop">Stop</div>
        <div class="button col-md-3" id="reset">Reset</div>
      </div>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col">
      <p id="target" class="h2 my-5 pt-5 border-top">Click to start!</p>
      <p id="result"></p>
    </div>
  </div>
</div>