<div class="container">
  <div class="row mt-5">
    <div class="col mt-5">
<!--      <table class="calender">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th id="prev" class="text-center">&laquo;</th>-->
<!--            <th id="title" colspan="5" class="text-center">2020/08</th>-->
<!--            <th id="next" class="text-center">&raquo;</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Sun</th>-->
<!--            <th>Mon</th>-->
<!--            <th>Tue</th>-->
<!--            <th>Wed</th>-->
<!--            <th>Thu</th>-->
<!--            <th>Fri</th>-->
<!--            <th>Sat</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
          <!--  <td class="disabled">1</td>-->
          <!--  <td class="disabled">2</td>-->
          <!--  <td class="disabled">3</td>-->
          <!--  <td>4</td>-->
          <!--  <td>5</td>-->
          <!--  <td>6</td>-->
          <!--  <td>7</td>-->
          <!--</tr>-->
<!--          <tr>-->
          <!--  <td>1</td>-->
          <!--  <td class="today">2</td>-->
          <!--  <td>3</td>-->
          <!--  <td>4</td>-->
          <!--  <td>5</td>-->
          <!--  <td>6</td>-->
          <!--  <td>7</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--  <td>1</td>-->
          <!--  <td>2</td>-->
          <!--  <td>3</td>-->
          <!--  <td>4</td>-->
          <!--  <td>5</td>-->
          <!--  <td>6</td>-->
          <!--  <td>7</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--  <td>1</td>-->
          <!--  <td>2</td>-->
          <!--  <td>3</td>-->
          <!--  <td>4</td>-->
          <!--  <td>5</td>-->
          <!--  <td>6</td>-->
          <!--  <td>7</td>-->
          <!--</tr>-->
<!--        </tbody>-->
<!--        <tfoot>-->
<!--          <tr>-->
<!--            <td id="today" colspan="7">today</td>-->
<!--          </tr>-->
<!--        </tfoot>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="col mt-5 bingo">
<table>
  <thead>
    <tr>
      <th>B</th>
      <th>i</th>
      <th>n</th>
      <th>g</th>
      <th>o</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>