<div class="container">
  <div class="row mt-5">
    <div class="col mt-5 bingo">
      <table>
        <thead>
          <tr>
            <th>B</th>
            <th>i</th>
            <th>n</th>
            <th>g</th>
            <th>o</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      </div> 
  </div>
</div>