<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <div id="open">詳細を見る</div>
      <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
        <p class="p-3">Startボタンを押してください</p>
        <div id="close">閉じる</div>
      </section>
    </div>
  </div>
</div>


