<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="border-bottom">FAQ</h1>
      <div>
        <dl>
          <dt>質問</dt>
          <dd>回答</dd>
        </dl>
      </div>
      <div>
        <dl>
          <dt>質問</dt>
          <dd>回答</dd>
        </dl>
      </div>
      <div>
        <dl>
          <dt>質問</dt>
          <dd>回答</dd>
        </dl>
      </div>

      <ul id="accordion mdl-list">
  <li class="accordion-item mdl-list__item"><span class="pb-5">+</span>
     <h3 class="question">職業はなんですか？</h3>
     <div class="answer">
        <p>システムエンジニアです。いわゆるSEです。</p>
     </div>
  </li>
  <li class="accordion-item"><span>+</span>
     <h3 class="question mdl-list__item">なんのスポーツが好きですか？</h3>

     <div class="answer">
	<p>野球</p>
     </div>
  </li>
  <li class="accordion-item mdl-list__item"><span>+</span>
     <h3 class="question">携帯は何使ってますか？</h3>

     <div class="answer">
        <p>iPhone</p>
     </div>
  </li>
</ul>





      <div id="open">詳細を見る</div>
      <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
        <p class="p-3">Startボタンを押してください</p>
        <div id="close">閉じる</div>
      </section>
    </div>
  </div>
</div>


